<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>BookStore</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <filter>
        <filter-name>Check</filter-name>
        <filter-class>com.shop.Check</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Check</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
        <servlet>
            <servlet-name>BookStore</servlet-name>
            <servlet-class>com.shop.BookShopServlet</servlet-class>
        </servlet>
    <servlet>
        <servlet-name>BookStoreSetting</servlet-name>
        <servlet-class>com.shop.BookShopSettings</servlet-class>
        <multipart-config>
            <max-file-size>100000</max-file-size>
            <max-request-size>200000</max-request-size>
            <file-size-threshold>50000</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/bookstore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/cards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/delivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/complete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/addressdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/deliverydata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/paymentdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/confirmdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/booksorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStore</servlet-name>
        <url-pattern>/calendar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookStoreShop</servlet-name>
        <servlet-class>com.shop.BookShopStore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookStoreShop</servlet-name>
        <url-pattern>/showbooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreShop</servlet-name>
        <url-pattern>/showusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreShop</servlet-name>
        <url-pattern>/insertbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreShop</servlet-name>
        <url-pattern>/showonebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreShop</servlet-name>
        <url-pattern>/updatebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreShop</servlet-name>
        <url-pattern>/deletebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreShop</servlet-name>
        <url-pattern>/insertuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreShop</servlet-name>
        <url-pattern>/showoneuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreShop</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreShop</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreShop</servlet-name>
        <url-pattern>/showcarts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreShop</servlet-name>
        <url-pattern>/updateorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreSetting</servlet-name>
        <url-pattern>/settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreSetting</servlet-name>
        <url-pattern>/createpdfdoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookStoreSetting</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <context-param>
    <description>Location to store uploaded file</description>
        <param-name>fileuploadto</param-name>
        <param-value>/home/yevhen/IdeaProjects/BookStore/web/images/user</param-value>
    </context-param>
    <servlet>
        <servlet-name>BookSendMAIL</servlet-name>
        <servlet-class>com.shop.SendMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookSendMAIL</servlet-name>
        <url-pattern>/sendmailuserregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookSendMAIL</servlet-name>
        <url-pattern>/sendmailcartid</url-pattern>
    </servlet-mapping>
</web-app>